

/* SLIDER*/
#s_sandra_lee_page_wrap {width:100%; background:#fff; text-align:left}/*This is the page container*/
#s_sandra_lee_page_wrap #s_sandra_lee_inner {width:981px; margin:0 auto 0 auto; position:relative; text-align:left}
#s_sandra_lee_page_wrap #s_sandra_lee_inner .horiz_divider {height:1px; width:981px; background-color:#eaeaea; margin-top:20px; border:none;;}
#s_sandra_lee_page_wrap #s_sandra_lee_inner h1 {font-size:16px; text-align:right; margin-bottom:5px;}
#s_sandra_lee_page_wrap #s_sandra_lee_inner h1 .sandra {font-family:georgia,serif; font-weight:bold; color:#d31145;}
#s_sandra_lee_page_wrap #s_sandra_lee_inner h1 .by_sandra_lee {font-family:arial,sans-serif; color:#666; font-weight:normal;}

.slide{width: 967px; height: 370px; text-align: left; position: relative;}
.slide .slideCTA{font-weight: bold; font-size: 12px; color: #fe0000; text-decoration: none; display: block; width: 200px; text-align: left; position: relative;}


#slide1{background: #fff no-repeat; background:url(http://c.shld.net/02181822/ue/home/s_sandra_lee_hero_s1_041912_v2.jpg);text-align: left;}
.js_vertSlideShow .wrapper #slide1 h3 {font:normal 24px arial,sans-serif; color:#fff; position:absolute; left:29px; top:160px;text-align: left;}
.js_vertSlideShow .wrapper #slide1 p {font:16px arial,sans-serif; color:#fff; position:absolute; left:29px; top:200px;text-align: left;}
.js_vertSlideShow .wrapper #slide1 a {font:18px arial,sans-serif; color:#fff; position:absolute; left:29px; top:310px; width:112px;text-align: left;}


#slide2{background: #fff no-repeat; display: none; background:url(http://sears.com/ue/home/s_sandra_lee_red_caret_041912.png));text-align: left;}
.js_vertSlideShow .wrapper #slide2 h3 {font:normal 24px arial,sans-serif; color:#fff; position:absolute; left:29px; top:160px;text-align: left;}
.js_vertSlideShow .wrapper #slide2 p {font:16px arial,sans-serif; color:#fff; position:absolute; left:29px; top:200px;text-align: left;}
.js_vertSlideShow .wrapper #slide2 a {font:18px arial,sans-serif; color:#fff; position:absolute; left:29px; top:310px; width:112px;text-align: left;}

#slide3{background: #fff no-repeat; display: none; background:url(http://c.shld.net/02181822/ue/home/s_sandra_lee_s2_041912_v2.jpg);text-align: left;}
.js_vertSlideShow .wrapper  #slide3 h3 {font:normal 24px arial,sans-serif; color:#fff; position:absolute; left:29px; top:160px;text-align: left;}
.js_vertSlideShow .wrapper  #slide3 p {font:16px arial,sans-serif; color:#fff; position:absolute; left:29px; top:200px;text-align: left;}
.js_vertSlideShow .wrapper  #slide3 a {font:18px arial,sans-serif; color:#fff; position:absolute; left:29px; top:310px; width:112px;text-align: left;}
#slide3 ul {margin: 0;padding: 0; list-style: none;} 
#slide3 a {position: absolute; width: 112px; height: 30px; font:18px arial,sans-serif; color:#fff; position:absolute;left:29px; top:310px;} 
#slide3 .apple a {top: 270px;left: 450px; Width: 400px; Height: 80px;}
#slide3 .orange a {top: 20px; left: 500px; Width: 400px; Height: 220px;}

#js_vertSlideShow #wrapper #slide3 .subHead{padding: 44px 0 105px 0;}
.js_vertSlideShow .wrapper {position: relative;}
.js_vertSlideShow .wrapper .controls {bottom: 3px; left: 28px; position: absolute; z-index: 30;}
.js_vertSlideShow .wrapper .controls li {display: block; float: left;}
.js_vertSlideShow .wrapper .controls li a {display: block; height: 15px; margin-right: 5px; overflow: hidden; text-indent: -5000px; width: 15px;}
.js_vertSlideShow .wrapper .controls li.playPause a {display: block; margin: 0; overflow: hidden; text-indent: -5000px;}

/*.ie7 #s_converse_bs .converse_bs_api>li .prodInfo{display: block; float: right; width: 145px; margin: -150px 0 0 0px;}*/

#sandra_cat_cont {margin: 10px 0px;padding: 0px;clear: both;height: 154px;width: 980px;clear:both;}
#sandra_ska2, #sandra_cook, #sandra_dinner{float:left;	margin: 0px 6px 0px 0px;padding:0;float: left;width: 318px;height:154px;}
#sandra_cat_cont #sandra_ska2 {background: url(http://sears.com/ue/home/s_sandra_lee_ska_041912.jpg) no-repeat;}
#sandra_cat_cont #sandra_cook {background: url(http://sears.com/ue/home/s_sandra_lee_cookware_041912.jpg) no-repeat;}
#sandra_cat_cont #sandra_dinner {background: url(http://sears.com/ue/home/s_sandra_lee_dinnerware_041912.jpg) no-repeat; margin:0px}
#sandra_cat_cont .sandralink {display:block;width:100%;text-align:center;position: relative;top: 112px;}
#sandra_cat_cont .sandralink a{color:#d31145;text-decoration: none;background: transparent url(http://sears.com/ue/home/s_sandra_lee_red_caret_041912.png) no-repeat right 8px;padding-right: 10px;	font: 20px Georgia, "Times New Roman", Times, serif;
}

/*VIDEO AND API*/
#s_sandra_lee_video_api_wrapper {width:981px; margin-top:20px;clear:both}
#s_sandra_lee_video_api_wrapper #s_sandra_lee_vid_wrap {width:644px; float:left;}
#s_sandra_lee_video_api_wrapper #s_sandra_lee_api_wrap {width:323px; height:387px; float:right;}
#s_sandra_lee_video_api_wrapper #s_sandra_lee_api_wrap h3 {font:30px/46px georgia,serif; color:#fff; background-color:#d31145; font-weight:normal; text-align:center;}
#sandra_lee_api .product {margin-top:20px; border-bottom:1px solid #e1e1e0; cursor:pointer;}
#sandra_lee_api .product:last-child {border-bottom:none;}
#sandra_lee_api .productImage {margin-left:23px;}
#sandra_lee_api .productInfo {width:190px; float:right; margin-top:10px;}
.ie7 #sandra_lee_api .productInfo {margin-top:-75px;}
#sandra_lee_api .productDescript {font:12px arial,sans-serif; color:#6a6764;}
#sandra_lee_api .salePrice {font:bold 16px arial,sans-serif; color:#8ea351; margin-right:10px;}
#sandra_lee_api .origPrice {font-size:14px; color:#666; text-decoration:line-through;}

/*FOOTER*/
#s_sandra_lee_footer {width:981px;height:274px;background:url('http://c.shld.net/02181822/ue/home/s_sandra_lee_footer.jpg') no-repeat;position:relative;clear: both;}
#s_sandra_lee_footer h3 {font:normal 30px georgia,serif; color:#d31145; position:absolute; top:25px;}
#s_sandra_lee_footer p {font:14px arial,sans-serif; color:#6a6764; position:absolute; top:70px;}
#s_sandra_lee_footer a {font:16px arial,sans-serif; color:#d31145; position:absolute; top:166px; width:112px; background:url('http://c.shld.net/02181822/ue/home/s_sandra_lee_red_caret_041912.png') no-repeat right 24px; padding-right:15px;}
.ie #s_sandra_lee_footer a  {background-position:right 22px;}
.chrome #s_sandra_lee_footer a {background-position:right 23px;}
#footer_backToTop{margin:0 auto;}
